<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.springframework.org/schema/security 
                    http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http use-expressions="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/dwr/**" access="permitAll" />
		<intercept-url pattern="/static/**" access="permitAll" />
		<intercept-url pattern="/secure/extreme/**" access="hasRole('admin')" />
		<intercept-url pattern="/secure/**" access="isAuthenticated()" />
		<intercept-url pattern="/listAccounts.html" access="isAuthenticated()" />
		<intercept-url pattern="/post.html" access="hasAnyRole('admin','user')" />
		<intercept-url pattern="/**" access="hasAnyRole('admin','user')" />
		<form-login />
		<logout />
	</http>
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="nico" password="nico" authorities="admin, user" />
                <user name="guest" password="guest" authorities="user" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>