<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.springframework.org/schema/security 
                    http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http use-expressions="true">
		<intercept-url pattern="/" access="isAuthenticated()" />
		<intercept-url pattern="/login" access="permitAll()" />
		<intercept-url pattern="/loginfailed" access="permitAll()" />
		<intercept-url pattern="/dwr/**" access="permitAll" />
		<intercept-url pattern="/static/**" access="permitAll" />
		<intercept-url pattern="/secure/extreme/**" access="hasRole('admin')" />
		<intercept-url pattern="/secure/**" access="isAuthenticated()" />
		<intercept-url pattern="/listAccounts.html" access="isAuthenticated()" />
		<intercept-url pattern="/post.html" access="hasAnyRole('admin','ROLE_USER')" />
		<intercept-url pattern="/**" access="hasAnyRole('admin','ROLE_USER')" />
		<form-login login-page="/login" default-target-url="/" authentication-failure-url="/loginfailed" />
		<logout />
	</http>

	<beans:bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userDetailsService" />
	</beans:bean>
	
	<beans:bean id="encoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder"/>
	
	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsService" >
		    <password-encoder ref="encoder"></password-encoder>
		</authentication-provider>
	</authentication-manager>
</beans:beans>